:root{
    font-size: 16px;
}

.black{
	background-color: black;
}

#orb {
    height: 18.75rem;
    width: 18.75rem;
    border-radius: 100%;
    padding: 1.25rem;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #blue;
}

#sky
{
	margin: 5rem;
	width: 64rem;
	height: 64rem;
}

.sun {
    background-color: #ffdd00;
    border: 0.625rem solid #f1c40f;
}
.noon{
	background-color: #ffae00;
    border: 0.625rem solid #ff7b00;
}
.moon {
    background-color: #bdc3c7;
    border: 0.625rem solid #eaeff2;
}
.night {
    background-color: #2c3e50;
}
.day {
    background-color: #37d8e6;
}
.mid-day {
    background-color: #36c0e6;
}
.sun:hover {
    border: 1.25rem solid #f1c40f;
}
.noon:hover{
	border:1.25rem solid #f0700f;
}
.moon:hover {
    border: 1.25rem solid #eaeff2;
}

#moonspot1 {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    float:right;
    margin: 1.25rem;
}
#moonspot2 {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    float:right;
    margin: 1.25rem;
}
#moonspot3 {
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    float:right;
    margin: 0.8rem;
}
.visible {
    background-color: #eaeff2;
}